.tooltip {
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 75vw;
    background-color: darkblue;
    color: #fff;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}